$startColor: rgb(0, 160, 0);
$stopColor: rgb(255, 255, 0);
$resetColor: rgb(255, 0, 0);

html {
    touch-action: manipulation; //スマホでダブルタップしたときに拡大しない
}
body {
    margin: 0;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 20px auto 5px;
}
.container {
    width: 100vw;
    height: 100vh;
    padding: 5px 0px;
    background-color: black;
    font-family: "VT323", monospace;
}
#timer {
    width: 90vw;
    height: 8vh;
    line-height: 8vh;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(153, 153, 153);
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    user-select: none;
}
.btn-wrapper {
    display: flex;
    margin: 10px auto 35px;
    width: 90vw;
    justify-content: center;
    user-select: none;
}

button {
    width: 100%;
    height: 10vh;
    // border-radius: 10px;
    font-family: "VT323", monospace;
    font-weight: bold;
    font-size: 44px;
}
#start {
    background-color: $startColor;
}

#stop {
    background-color: $stopColor;
}

#reset {
    background-color: $resetColor;
}

.notice {
    color: white;
    text-align: center;
    margin: -10px 0 10px 0;
    font-size: 20px;
}

#lap {
    width: 90vw;
    height: auto;
    margin: 0px auto;
    padding-bottom: 15px;
}

#lap p {
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 2px 0;
}
